.cls-1 {
    clip-path: url(#clip-Web_1920_1);
  }

  .cls-2 {
    fill: #f6f8fc;
  }

  .cls-3 {
    fill: #cef5e6;
  }

  .cls-4 {
    fill: #f1bdc7;
  }

  .cls-5 {
    font-size: 35px;
  }

  .cls-13, .cls-14, .cls-15, .cls-5, .cls-6, .cls-7, .cls-8 {
    font-family: SegoeUI-Bold, Segoe UI;
    font-weight: 700;
  }

  .cls-6, .cls-8 {
    fill: #565353;
  }

  .cls-6 {
    font-size: 24px;
  }

  .cls-7 {
    font-size: 40px;
  }

  .cls-14, .cls-8 {
    font-size: 20px;
  }

  .cls-9 {
    fill: url(#pattern);
  }

  .cls-10 {
    fill: #b5c9f0;
  }

  .cls-11 {
    fill: #a9f3db;
  }

  .cls-12 {
    fill: #d4dcee;
  }

  .cls-13 {
    fill: #337c6b;
    font-size: 25px;
  }

  .cls-14, .cls-15 {
    fill: #676767;
  }

  .cls-15 {
    font-size: 15px;
  }

  .cls-16 {
    fill: #fff;
  }